.App {
  text-align: center;
  background-color: #FDF4EF;
}
.dropdown-toggle::after{
  content: none !important
}
.dropDownButotn{
  width: 15vh;
  height: 15vh;
  font-weight: 700 !important;
  font-size: 2.6rem!important;
  color: #282c34!important;
  background-color: wheat!important;

}

.topPanel{
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FDF4EF;

}
.image-slider {
  /* Use flexbox to place the images horizontally */
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  /* Add a sliding animation to the div element */
  animation: slide 20s linear infinite;
}
img {
  /* Set the width and height of the images */
  width: 50vw;
  height: 80vh;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
